/*html.debug {
	background: red !important;
}
html.debug body {
	background: blue !important;
}*/

html.debug header,
html.debug header .header-top,
html.debug header .header-middle,
html.debug header .header-bottom {
	background: orange !important;
}
html.debug aside.sidebar {
	background: yellow !important;
}
html.debug main {
	background: lime !important;
}

html.debug .project {
	background: blueviolet !important;
}
html.debug .project > .projectdesc {
	background: seagreen !important;
}
html.debug .project > .linktable {
	background: fuchsia !important;
}
