.tab_main_portfolio {
	container-type: inline-size;
}

.projectlist {
	display: grid;
	gap: 5px;
	@container (min-width: 605px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.project {
	display: grid;
	grid-template-rows: auto 1fr min-content;
	gap: 10px;
	padding: 10px;
	border-radius: 7px;
	background: #fefefe;
	border: 1px solid #AAAAAA;
}

.project > .thumbnail {
	justify-self: center;
	width: 100%;
	max-width: calc(4 / 3 * 17em);
	max-height: 17em;
	padding: 1px;
	border: 1px solid #AAAAAA;
}

.project > .projectdesc {
	display: flex;
	justify-content: center;
}
.project > .projectdesc > .wrapper {
	display: inline-flex;
	flex-direction: column;
}
.project > .projectdesc > .wrapper > h2.project-title {
	align-self: center;
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 5px;
}
.project > .projectdesc > .wrapper > ul {
	margin-top: 0px;
	padding-left: 25px;
}

.project > .linktable {
	display: flex;
	gap: 10px;
}
.project > .linktable > .fav-anchor {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 5px;
	text-align: center;
}
.project > .linktable > .fav-anchor:hover {
	background: lightgray;
}
.project > .linktable > .fav-anchor > img.favicon {
	height: 18px;
	width: 18px;
	vertical-align: -25%;
}

.project > .languages {
	display: none;
}
