img.favicon {
	height:         18px;
	width:          18px;
	margin:         0px 3px;
	vertical-align: middle;
}

.project {
	width:         calc(100% - 22px);
	margin:        5px 0px;
	padding:       10px;
	border-radius: 7px;
	background:    #fefefe;
	border:        1px solid #AAAAAA;
}
.project > .thumbnail {
	vertical-align: middle;
	width:          256px;
	height:         192px;
	padding:        1px;
	border:         1px solid #AAAAAA;
}
.projectdesc {
	vertical-align: top;
	width:          calc(100% - 296px);
	overflow:       hidden;
	margin:         5px 10px;
	padding:        1px;
	display:        inline-block;
}
.projectdesc .linktable {
	margin:     0px 90px;
	float:      right;
	text-align: right;
}
.projectdesc .linktable a {
	vertical-align: middle;
	margin:         2px;
}
.projectdesc .languages {
	width:      60px;
	float:      right;
	text-align: right;
}
.projectdesc ul {
	margin:       5px 0px;
	padding-left: 25px;
}
